.venv
.idea
# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing & coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Documentation builds
docs/_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IPython configs
profile_default/
ipython_config.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# pipenv / pip‑package directories
__pypackages__/

# Static type checking caches
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pyre/
.pytype/

# Generated debug files
cython_debug/

# IDE/editor settings
.vscode/
.idea/
*.iml

# Logs & databases
*.log
*.sql
*.sqlite
logs/
